* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

body {
    background-color: #bfc0c0;
}

img {
    max-width: 100%;
}

header {
    background-color: #04A784;
    height: 150px;
}

a {
    color: rgba(98, 97, 97, 0.802);
}

.d-flex {
    display: flex;
}

.icon {
    color: gray;
    padding: 5px;
    font-size: 20px;
}

.bell_icon {
    background-color: white;
    color: aqua;
    border-radius: 50%;
    padding: 10px;
    height: 50px;
    width: 50px;
    font-size: 20px;
}

.contact_image {
    width: 60px;
    border-radius: 50%;
}

.align-items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}



.container {
    margin: -125px auto;
    width: 1350px;
    height: 900px;
    background-color: white;
}



.box_contacts {
    height: 100%;
    width: 35%;
}

.box_chats {
    height: 100%;
    width: 65%;
    background-image: url(../img/mine.jpg);
    position: relative;
}



.contacts_header {
    height: 75px;
    background-color: #dcddde;
    padding: 10px;
}

.notifications {
    background-color: aqua;
    height: 80px;
    padding: 10px;
}

.search {
    background-color: #eef0f1;
    padding: 10px;
}



.user_image {
    width: 50px;
    border-radius: 50%;
}

.text {
    padding-left: 15px;
}

.search_button {
    width: 20%;
    height: 36px;
    border: none;
    background: white;
    text-align: center;
    color: gray;
    font-size: 15px;
}

.search_bar {
    width: 80%;
    height: 36px;
    border: none;
    padding: 5px;
    outline: none;
}

.contact_chat {
    height: 80px;
    padding: 10px;
    border-top: 1px rgba(188, 188, 188, 0.47) solid;
}

.details_container {
    width: 100%;
}

.chat_header {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}

.chat_text-bar {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}



.details {
    padding-left: 20px;
}

.time, .message_preview {
    font-size: 12px;
    color: rgba(148, 146, 146, 0.739);
}

.write_message {
    width: 80%;
    height: 36px;
    border: none;
    padding: 5px;
    outline: none;
    height: 100%;
    border-radius: 5px;
}



/* DEBUG */

/* .debug .box_contacts {
    border: 1px purple solid;
} */

.debug .box_chats {
    border: 1px pink solid;
}