<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Boolzapp</title>
        <link rel="stylesheet" href="./css/app.css" />
        <script
            src="https://kit.fontawesome.com/f5eda7a296.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body id="app">
        <header></header>

        <main class="debug">
            <div class="container d-flex">
                <div class="box_contacts">
                    <div
                        class="contacts_header d-flex align-items-center justify-between"
                    >
                        <div class="user d-flex align-items-center">
                            <img
                                class="user_image"
                                src="./img/avatar_io.jpg"
                                alt=""
                            />
                            <span class="name">Sofia</span>
                        </div>

                        <div class="header_icons">
                            <span class="icon"
                                ><i class="fa-solid fa-circle-notch"></i
                            ></span>
                            <span class="icon"
                                ><i class="fa-solid fa-message"></i
                            ></span>
                            <span class="icon"
                                ><i class="fa-solid fa-burger"></i
                            ></span>
                        </div>
                    </div>

                    <div class="notifications d-flex align-items-center">
                        <span
                            class="bell_icon d-flex align-items-center justify-center"
                            ><i class="fa-solid fa-bell-slash"></i
                        ></span>

                        <div class="text">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <nav class="search d-flex">
                        <button type="submit" class="search_button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input
                            type="text"
                            placeholder="Cerca o inizia una nuova chat"
                            class="search_bar"
                        />
                    </nav>

                    <div>
                        <ul class="contacts_chats">
                            <li
                                class="contact_chat d-flex"
                                v-for="(contact, index) in contacts"
                                :key="index"
                                @click="chatIndex(index)"
                            >
                                <img
                                    class="contact_image"
                                    :src="contact.avatar"
                                    alt=""
                                />
                                <div
                                    class="details_container d-flex justify-between"
                                >
                                    <div class="details d-flex flex-column">
                                        <span class="contact_name"
                                            >{{ contact.name }}</span
                                        >
                                        <span class="message_preview"
                                            >Ultimo messaggio inviato</span
                                        >
                                    </div>
                                    <div class="time">
                                        <span>12:00</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="box_chats">
                    <div
                        class="contacts_header chat_header d-flex align-items-center justify-between"
                    >
                        <div class="user d-flex align-items-center">
                            <img
                                class="user_image"
                                :src="contacts[currentIndex].avatar"
                                alt=""
                            />
                            <div class="details d-flex flex-column">
                                <span class="contact_name">{{ contacts[currentIndex].name }}</span>
                                <span class="message_preview"
                                    >Ultimo accesso oggi alle 12:00</span
                                >
                            </div>
                        </div>

                        <div class="header_icons">
                            <span class="icon"
                                ><i class="fa-solid fa-magnifying-glass"></i
                            ></span>
                            <span class="icon"
                                ><i class="fa-solid fa-paperclip"></i
                            ></span>
                            <span class="icon"
                                ><i class="fa-solid fa-burger"></i
                            ></span>
                        </div>
                    </div>

                    <div class="chat">
                        <ul class="messages">
                            <li
                                class="message"
                                v-for="message in contacts[currentIndex].messages"
                            >
                                <div class="d-flex" :class="(message.status === 'sent') ? 'justify-end' : '' ">
                                    <span class="text_message" :class="(message.status === 'sent') ? 'sent' : 'received' ">{{ message.message }}</span>
                                </div>
                                
                            </li>
                        </ul>
                    </div>

                    <div
                        class="contacts_header chat_text-bar d-flex justify-around align-items-center"
                    >
                        <span class="icon"
                            ><i class="fa-regular fa-face-tired"></i
                        ></span>
                        <input
                            class="write_message"
                            type="text"
                            placeholder="Scrivi un messaggio"
                            v-model="newMessage"
                            @keyup.enter="sendMessage()"
                        />
                        <span class="icon"
                            ><i class="fa-solid fa-microphone"></i
                        ></span>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/app.js"></script>
    </body>
</html>
